* {
  margin: 0;
  padding: 0;
  background-color: rgb(243, 206, 158);
 }

@font-face {
  font-family: "Boneribbon-Bold";
  src: url("/font/Boneribbon-Bold/Boneribbon\ Bold.ttf");
}
body{
  background-color: rgb(243, 206, 158);
  font-family: "Boneribbon-Bold";
}
.isoTipo {
  font-family: "Boneribbon-Bold";
  font-size: 3em;
}

/*formulario Seba*/
#multistep {
  background-image: url("img/pachtwork.jpg");
  border-radius: 20px;
  box-shadow: 4px 4px 8px 8px;
  height: 900px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
 }

#multistep form {
  background-color: rgb(243, 206, 158);
  padding: 3rem;
  box-shadow: 4px 4px 8px 8px;
  border-radius: 2%;
  height: 500px; 
   width: 600px;
  margin-top: 150px;
  margin-right: 300px;
  position: absolute;
  left: 300px;
  
}
.col-12{
width: 1px;
height: 1px;
}
.nav-link{
  color: black;
}
.container{
 
  width: 1000px;
  display: grid;
  
}
.containerSeba{
padding-top: 25px;
}
header{
  background-color: rgb(243, 206, 158)
}
/*barra navegacion header*/
.containerNav{
  height: 3em;
  background-color: rgb(243, 206, 158)

}
#home{
  height: 3.5em;
  font-family: "Boneribbon-Bold";;
}
figure {
  padding: 10px;
  margin-left: 20px;
  
}
.my-md-3{
  
  padding-top: 10px;
  align-content: center;
  margin: 20px;
  line-height: 2;
}
.lista-intro{
  text-align: left;
}

.boxTalleres{
align-content: center;
display: flex;
flex-wrap: wrap;
align-items: center;
margin-left: 300px;
padding-top: 50px;
font-family: "Boneribbon-Bold";
}
h3{
  padding-top: 30px;
  font-family: "Boneribbon-Bold";
}


.arrow-icon {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
}
footer {
  padding: 15px;
  font-family: "Zen Dots", cursive;
  font-size: 1.2em;
  text-align: center;
  color: black;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
   margin-bottom: 0;
   font-family: "Boneribbon-Bold";
   
}
div.col-lg-6{
  width: 500px;
  display: grid;
}
.integrantes{
  font-family: "Boneribbon-Bold";
  padding-top: 20px;
  padding-bottom: 25px;
}
p{
  padding-top: 30px;
  line-height: 2
}

.form-consulta{
  padding-top: 20px;
  padding-left: 100px;
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .formulario {
      grid-template-columns: 1fr;
  }
  .formulario__mensaje,
  .formulario__grupo-btn-enviar {
      grid-column: 1;
  }

  .formulario__btn {
      width: 100%;
  }
}

.introduccion{
  align-content: center;
  text-align: center;
}
/*adri talleres*/

  
.list-group{
  
  margin-left: 150px;
  
}



/*form-elvira*/

.form-reclamo{
  margin: 20px;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-image: url(img/fondo-form-elvira.jpg);
  background-position:center;
  background-size:cornsilk;
  padding: 30px;
  border: 6px solid rgb(168, 167, 160);
  box-shadow:o px 35px 44px -22px ;
}

.formulario__label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 100%;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
}

.formulario__input:focus {
  border: 3px solid #121416;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario__mensaje,
.formulario__grupo-btn-enviar {
  grid-column: span 2;
}

.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background: #F66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

.formulario__mensaje-activo {
  display: block;
}

.formulario__mensaje p {
  margin: 0;
}

.formulario__grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__btn {
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s ease all;
}

.formulario__btn:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito {
  font-size: 14px;
  color: #119200;
  display: none;
}

.formulario__mensaje-exito-activo {
  display: block;
}

.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}


@media screen and (max-width: 800px) {
  .formulario {
      grid-template-columns: 1fr;
  }
  .formulario__mensaje,
  .formulario__grupo-btn-enviar {
      grid-column: 1;
  }

  .formulario__btn {
      width: 100%;
  }
}