*{
    margin: 0;
    padding: 0;
}




main{
    width: 100%;
    background-color: antiquewhite;

}
.form{
    width: 1000px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
    padding: 40px;

}
